.keyword {
-fx-fill:darkblue;
-fx-font-weight:bold;
}
.error{
-fx-fill:darkred;
}
.vars{
-fx-fill:purple;
-fx-font-weight:bold;
}
.words{
-fx-fill:green;
-fx-font-weight:bold;
}
.terminator{
-fx-fill:red;
-fx-font-weight:bold;
}
.comments{
-fx-fill:gray;
}
.numbers{
-fx-fill:blue;
}
.character{
-fx-fill:darkgreen;
-fx-font-weight:bold;
}
.boolean{
-fx-fill:darkviolet;
-fx-font-weight:bold;
}